#cv{width: 250px;
    margin: 10px;
}
#term{width: 250px;
    margin: 10px;
}
#js{
    float: left;
    width: 250px;
    margin: 10px;
    padding-left: 10px;
     
}
img{
    float: left;
    margin: 10px;
    text-align: start;
    padding-left: 10px;
}
