#cv{float: left;
    width: 100px;
    height: 200px;
    padding: 20px;
    margin-left: 10px;
}
#term{
    float: left;
    width: 100px;
    height: 200px;
    padding: 20px;
    margin-left: 10px;
}
#js{
    float: left;
    width: 100px;
    height: 200px;
    padding: 20px;
    margin-left: 10px;
}
img{background-color: aqua;
width: 400px;
height: 100px;}